<h1>Listing steps</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @steps.each do |step| %>
  <tr>
    <td><%= step.title %></td>
    <td><%= link_to 'Show', todo_step_path(@todo, step) %></td>
    <td><%= link_to 'Edit', edit_todo_step_path(@todo, step) %></td>
    <td><%= link_to 'Destroy', todo_step_path(@todo, step), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Step', new_todo_step_path(@todo) %> | 
<%= link_to 'Back to Todo', todo_path(@todo) %>
