<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @step.title %>
</p>

<p>
  <b>Percents:</b>
  <%= @step.percents %>
</p>


<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
