<ul>
  <%= render todo.steps %>
</ul>

<span class="description">备注：<%= todo.description %></span>
<div class="tags">tags:
  <% todo.tags.each do |tag| %>
    <a href="javascript:void(0);" class="btn">
      <%= tag.name %> <i class="icon-remove"></i>
    </a>
  <% end %>
</div>
<div class="actions">
  <%= link_to(new_todo_step_path(todo), class: 'btn') do %>
    <i class="icon-plus"></i> 添加里程牌
  <% end %>
  <%= link_to(todo, class: 'btn') do %>
    <i class="icon-zoom-in"></i> 查看
  <% end %>
  <%= link_to edit_todo_path(todo), class: 'btn' do %>
    <i class="icon-edit"></i> 修改
  <% end %>
  <%= link_to todo, method: :delete,  class: 'btn', data: { confirm: 'Are you sure?'} do %>
    <i class="icon-remove"></i> 搁置
  <% end %>
  <% if todo.steps.empty? %>
    <% if todo.not_completed? %>
      <%= link_to todo_path(todo, "todo[completed]" => true), method: :put, class: 'btn' do %>
        <i class="icon-random"></i> Finish
      <% end %>
    <% else %>
      <%= link_to todo_path(todo, "todo[completed]" => false), method: :put, class: 'btn' do %>
        <i class="icon-fire"></i> Redo
      <% end %>
    <% end %>
  <% end %>
</div>