<h1>Listing todos</h1>

<ul>
  <% @todos.each do |todo| %>
    <li>
      <div>
        <span class="title">Title: <%= todo.title %></span><br>
        Finished Percents: <span style="color: red;"><%= todo.completed_percents %>%</span>
        <div class="progress progress-info progress-striped">
          <div class="bar" style="width: <%= todo.completed_percents > 0.5 ? todo.completed_percents : 0.5 %>%;"></div>
        </div>
        <span class="description">Description: <%= todo.description %></span>
        <div class="actions">
          <%= link_to(new_todo_step_path(todo), class: 'btn') do %>
            <i class="icon-plus"></i> Add Step
          <% end %>
          <%= link_to(todo, class: 'btn') do %>
            <i class="icon-zoom-in"></i> Show
          <% end %>
          <%= link_to edit_todo_path(todo), class: 'btn' do %>
            <i class="icon-edit"></i> Edit
          <% end %>
          <%= link_to(todo, method: :delete,  class: 'btn', data: { confirm: 'Are you sure?'}) do %>
            <i class="icon-remove"></i> Destroy
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<br />

<%= link_to new_todo_path, {class: 'add_todo btn btn-large btn-primary'} do %>
  <i class="icon-plus"></i> New Todo
<% end %>
