<!DOCTYPE html>
<html>
<head>
  <title>Todos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='title'>
    <div><i class="icon-list"></i> 待办事项</div>
  </div>
  <div class='body'>
    <%= yield %>
  </div>
  <%= yield :javascripts %>
</body>
</html>
